body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background: black;
}

* a {
  text-decoration: none;
  color: white;
  text-align: center;
}

/* HEADER */
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f39300;
  position: fixed;
  top: 0;
  width: 100%;
  height: 3rem;
}
.navbar li {
  float: left;
}
.navbar li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar li:hover:not(.active) {
  background-color: #f6ad05;
  height: 3rem;
}
.navbar .active {
  background-color: #f6ad05;
  height: 3rem;
}

/* MAIN */
.main {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contain {
  padding-top: 3rem;
}

.baniere .baniere {
  display: block;
}
.baniere .baniere__image {
  margin-top: 3rem;
  object-fit: cover;
  width: 100%;
}

#Presentation {
  background: #323232;
  max-width: 80%;
  margin-left: 9%;
}

.centering > * {
  box-sizing: border-box;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 2rem;
  /* max-width: 1440px; */
  max-height: 70vh;
  text-align: left;
}

.container > * {
  max-width: 1040px;
}

.structure-title {
  margin-bottom: 35px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 200%;
  font-weight: 650;
  line-height: 1.2;
  letter-spacing: 0;
  color: #f39300;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.structure-text {
  border: 0;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  font-family: raleway, Helvetica, Arial, sans-serif;
  font-size: 100%;
  /*hyphens: auto;*/
  vertical-align: baseline;
  outline: 0;
  background: transparent no-repeat top left;
}
.structure-text h2 {
  color: #f6ad05;
  font-weight: 600;
}
.structure-text p {
  color: white;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
